{% block body %}
	<div>
		<h1>Messages</h1>
		<div class="message-container">
			{% for message in old_messages %}
				<div class="message {% if message.getUserSenderId() == user_sender %}right{% else %}left{% endif %}" data-id="{{ message.id }}">
					<span class="message-timestamp {% if message.getUserSenderId() == user_sender %}timestamp-left{% else %}timestamp-right{% endif %}">
						{{ message.createdAt|date('F j, H:i') }}
					</span>
					{% if message.getUserSenderId() == user_sender %}
						<a href="{{ path('delete_message', {'user_id_sender': app.user.id,'message_id':message.id}) }}" class="delete-message btn" data-id="{{ message.id }}">
							Supprimer
						</a>
						<button class="edit-message btn" data-id="{{ message.id }}">Modifier</button>
						<form class="edit-form" data-id="{{ message.id }}" method="POST">
							<textarea class="edit-content" name="edit-content">{{ message.content }}</textarea>
							<button class="save-edit btn" data-id="{{ message.id }}">Enregistrer</button>
						</form>
					{% endif %}
					<p class="content">{{ message.content }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
