{% extends 'base.html.twig' %}

{% block title %}
	{{userName}}
{% endblock %}


{% block body %}
	<h1>Collection de
		{{userName}}</h1>
	<div class="card-container" id="cards">
		{% for card in cards %}
			<div class="card-cart">
				<div class="carte-card">
					<div>
						<p class="card-name ">{{ card.name }}</p>
						{% for userCard in userOwnCards %}
							{% if userCard.getCardId.id == card.id %}
								<div class="carte-information have">
									<p id="quantity-{{ card.id }}" data-quantity="{{ userCard.getQuantity }}">
										Nombre possédé(s) :
										{{userCard.getQuantity}}
									</p>
									{% if userCard.isFavourite %}
										<p id="favourite-{{userCard.getCardId.id}}">Favorite</p>
									{% else %}
										<p id="not-favourite-{{userCard.getCardId.id}}">Non Favorite</p>
									{% endif %}

									{% if userCard.isTradable %}
										<p id="tradable-{{userCard.getCardId.id}}">Echangeable</p>
									{% else %}
										<p id="not-tradable-{{userCard.getCardId.id}}">Non Echangeable</p>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<img src="{{ asset('media/images/' ~ gameName ~ '/' ~ extensionName ~ '/' ~ card.image) }}" alt="{{ card.name }}" class="card_img">
				</div>
				<div class="card-action">
					<a href="{{ path('card', {'gameName': gameName, 'extensionName':extensionName, 'cardName' : card.name}) }}" class="card-link">Voir la carte
					</a>
				</div>

				{% if app.user %}
					{% if app.user.name == userName %}
						<div class="carte-quantity">
							<a href="{{path('remove_card_to_collect', {'userId': app.user.id, 'gameName': gameName, 'cardId': card.id})}}" class="decrement-button" data-card-id="{{ card.id }}">-</a>
							<a href="{{path('add_card_to_collect', {'userId': app.user.id, 'gameName': gameName, 'cardId': card.id})}}" class="increment-button" data-card-id="{{ card.id }}">+</a>
						</div>
						{% for userCard in userOwnCards %}
							{% if userCard.getCardId.id == card.id %}
								<div class="haveGot">
									<a href="{{ path('favourite', {'userId': app.user.id, 'userCardCollectionId':userCard.id}) }}" class="favorite favorite-link" data-card-id="{{ card.id }}">Favorite</a>
									<a href="{{ path('tradable', {'userId': app.user.id, 'userCardCollectionId':userCard.id,}) }}" class="tradable-link" data-card-id="{{ card.id }}">Echangeable</a>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/userCards.js') }}" type="module"></script>
{% endblock %}
