{% extends 'base.html.twig' %}

{% block title %}
	{{userName}}
{% endblock %}

{% block body %}
	<h1>Collection de
		{{userName}}</h1>

	<div class="extension-container" id="collection">
		{% for extension in extensions %}
			<div class="extension-card">
				<a href="{{ path('user_collect_cards', {'userName': userName,'gameName': gameName, 'extensionName':extension.name}) }}" class="extension">
					<div>
						<p class="extension-name">{{ extension.name }}</p>
						<img src="{{ asset('media/images/' ~ gameName ~ '/' ~ extension.image ) }}" alt="{{ extension.name }}" class="extension_img">
					</div>
				</a>
			</div>

		{% endfor %}
	</div>
{% endblock %}
