{% extends 'base.html.twig' %}

{% block title %}
	{{card.name}}
{% endblock %}

{% block body %}


	<div class="card" id="Carte">
		<div class="carte-infos">
			<h3>
				<td>{{ card.name }}</td>
			</h3>
			<div>
				<img src="{{ asset('media/images/' ~ gameName ~ '/' ~ extensionName ~ '/' ~ card.image) }}" alt="{{ card.name }}" class="carte-img">
			</div>
			<table>

				<tr>
					<th>Artiste</th>
					<td>{{ card.artist }}</td>
				</tr>
				<tr>
					<th>Numéro</th>
					<td>{{ card.number }}</td>
				</tr>
				<tr>
					<th>Rareté</th>
					<td>{{ card.rarity }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ card.type }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ card.description }}</td>
				</tr>
			</table>
			<div class="carte-action">
				<button>-</button>
				<button>+</button>
			</div>
		</div>

		<div class="carte-commentaire">
			<h4>Commentaires</h4>
			<div class="comments">
				{% for comment in comments %}
					<div class="commentaire" data-id="{{ comment.id }}">
						<div>
							<div>
								<p>Par :
									{{comment.getUserId.name}}</p>
								<p>Créé le :
									{{ comment.createdAt | date('Y-m-d H:i:s') }}</p>
							</div>
							<p>{{ comment.content }}</p>
						</div>
						{% if app.user or is_granted('ROLE_ADMIN') %}
							<div>
								<button>
									<a href="{{ path('delete_commentary', {'userId': app.user.id,'commentary_id':comment.id}) }}" class="delete-commentary" data-id="{{ comment.id }}">
										Supprimer
									</a>
								</button>
							</div>
						{% endif %}
					</div>

				{% endfor %}
			</div>
			<div class="new-comment">
				<form class="commentForm">
					<label for="commentContent">Contenu du commentaire :</label>
					<input type="text" name="commentContent" id="commentContent" rows="4" cols="50" required>
					<button type="submit">Envoyer</button>
				</form>
			</div>

		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/commentary.js') }}" type="module"></script>
{% endblock %}
