{% extends 'base.html.twig' %}

{% block title %}
	{{extensionName}}
{% endblock %}

{% block body %}
	<h2>{{extensionName}}</h2>

	<div class="new-card">
		<a href="{{ path('create_card', {'gameName': gameName, 'extensionName': extensionName})}}">Nouvelle carte +
		</a>
	</div>
	<div class="card-container">
		{% for card in cards %}

			<div class="card-cart">
				<div>
					<p class="card-name">{{ card.name }}</p>
					<img src="{{ asset('media/images/Malkyrs/' ~ extensionName ~ '/' ~ card.image) }}" alt="{{ card.name }}" class="card_img">

				</div>
				<div class="card-action">
					<button>-</button>
					<button>
						<a href="{{ path('card', {'gameName': gameName, 'extensionName':extensionName, 'cardName' : card.name}) }}" class="card-link">Voir la carte</a>
					</button>
					<button>+</button>
				</div>
			</div>

			<div class="admin-button">
				<a href="{{ path('delete_card', {'gameName': gameName, 'extensionName':extensionName,'cardName' : card.name}) }}" class="delete-card">
					Supprimer
				</a>
				<a href="{{ path('edit_card', {'gameName': gameName, 'extensionName':extensionName,'cardName' : card.name}) }}" class="edit-card">
					Modifier
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
