{% extends 'base.html.twig' %}

{% block title %}Utilsatateurs
{% endblock %}

{% block body %}
	<style></style>

	<div>
		{# <form action="{{ path('book_search') }}" method="get" class="actions search">
															<input type="text" name="keyword" placeholder="Recherche...">
															<button type="submit">Rechercher</button>
														</form> #}
	</div>
	<div>
		<table>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>
							<a href="">Voir Collection</a>
						</td>
						<td>
							<button class="contact-btn" "data-user-recever-id"={{user.id}}>Contacter</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div>
			{% for user in users %}
				<form id="messageForm" data-user-sender-id="{{ app.user.id }}" data-user-recever-id="{{ user.id }}">
					<label for="messageContent">Contenu du message :</label>
					<textarea id="messageContent" name="messageContent" rows="4" cols="50" required></textarea>
					<button type="submit">Envoyer</button>
				</form>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/users.js') }}" type="module"></script>
{% endblock %}

