{% extends 'base.html.twig' %}

{% block title %}Utilsatateurs
{% endblock %}

{% block body %}

	<div>
		{# <form action="{{ path('book_search') }}" method="get" class="actions search">
																							<input type="text" name="keyword" placeholder="Recherche...">
																							<button type="submit">Rechercher</button>
																						</form> #}
	</div>
	<h1>Utilsateurs</h1>
	<div>
		<table class="users-table">
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>
							<a href="{{path('user_collect', {'userName': user.name})}}">Voir Collection</a>
						</td>
						{% if app.user %}
							<td>
								<button class="contact-btn btn" data-user-recever-id={{user.id}}>Contacter</button>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if app.user %}
			<div>
				<form class="messageForm" data-user-sender-id="{{ app.user.id }}">
					<div>
						<label for="messageContent">Contenu du message :</label>
						<input id="messageContent" name="messageContent" rows="4" cols="50" required>
					</div>
					<div>
						<button type="submit" class="btn-sendMessage btn">Envoyer</button>
					</div>


				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/users.js') }}" type="module"></script>
{% endblock %}
