{% extends 'base.html.twig' %}

{% block title %}Utilsatateurs
{% endblock %}

{% block body %}
	<style></style>

	<div>
		{# <form action="{{ path('book_search') }}" method="get" class="actions search">
															<input type="text" name="keyword" placeholder="Recherche...">
															<button type="submit">Rechercher</button>
														</form> #}
	</div>
	<div>
		<table>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>
							<a href="{{path('user_collect', {'userName': app.user.name})}}">Voir Collection</a>
						</td>
						<td>
							<button class="contact-btn" data-user-recever-id={{user.id}}>Contacter</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div>
				<form class="messageForm" data-user-sender-id="{{ app.user.id }}">
					<label for="messageContent">Contenu du message :</label>
					<input id="messageContent" name="messageContent" rows="4" cols="50" required></input>
					<button type="submit" class="btn-sendMessage">Envoyer</button>
				</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/users.js') }}" type="module"></script>
{% endblock %}

