<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
		<link rel="icon" href="{{ asset('media/images/VaultTCG.png') }}">
		<link
		href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="light-mode">
		<div id="mode" class="light-mode">
			<button id="mode-toggle-button" class="btn-toogle dark-mode">Dark Mode</button>
		</div>
		<header>
			<div id="logo">
				<a href="{{path('app_home')}}"><img src="{{ asset('media/images/VaultTCG.png') }}" alt="VaultTCG"></a>
			</div>
			<nav class="navbar">
				<ul>
					<li>
						<a href="{{path('games')}}">Jeux</a>
					</li>
					<li>
						<a href="{{path('app_users')}}">Utilisateurs</a>
					</li>
					{% if not app.user %}
						<li>
							<a href="{{path('app_register')}}">S'inscrire</a>
						</li>
						<li>
							<a href="{{path('app_login')}}">Connexion</a>
						</li>
					{% endif %}
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							{# <li>
								<a href="">Admin</a>
							</li> #}
						{%  endif %}
						<li>
							<a href="{{path('user_collect', {'userName': app.user.name})}}">Ma collection</a>
						</li>
						<li>
							<a href="{{path('my_account', {'userName': app.user.name})}}">Mon compte</a>
						</li>
						<li>
							<a href="{{path('contact', {'id': app.user.id})}}">Contact</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">Déconnexion</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block body %}
			<div>Test</div>
		{% endblock %}


		<script src="{{ asset('js/app.js') }}" type="module"></script>
	</body>
</html>
