{% extends 'base.html.twig' %}

{% block title %}
	{{gameName}}
{% endblock %}

{% block body %}

	<h1>
		{{gameName}}
	</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<div class="new-extension">
			<a href="{{ path('create_extension', {'gameName': gameName})}}">Nouvelle extension +
			</a>
		</div>
	{% endif %}
	<div class="extension-container">
		{% for extension in extensions %}
			<a href="{{ path('extension', {'gameName': gameName, 'extensionName':extension.name}) }}" class="extension">
				<div>
					<img src="{{ asset('media/images/' ~ gameName ~ '/' ~ extension.image ) }}" alt="{{ extension.name }}" class="extension_img">
					<p class="extension-name">{{ extension.name }}</p>
				</div>
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<div class="admin-button">
					<a href="{{ path('delete_extension', {'gameName': gameName, 'extensionName':extension.name}) }}" class="delete-extension">
						Supprimer
					</a>
					<a href="{{ path('edit_extension', {'gameName': gameName, 'extensionName':extension.name}) }}" class="edit-extension">
						Modifier
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
